
header{
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 100;
background-color: white;
/* Banner Starsts */
.banner{
  width: 100%;
  height: 60px;
  img{
    height: inherit;
    width: inherit;
    object-fit: cover;
  }
}
/*Banner Ends*/
/* Register Starts */
.register{
height: 68px;
width: 100%;
/* background-color: gray; */
padding: 0px 125px ;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: center;

  .register__right-section{
    /* background-color: rgb(47, 0, 255); */
    height: 44px;
    width: 734px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;

    .register__right-section__right-section{
      width: 116px;
      /* background-color: orange; */
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .register__right-section__left-section{
      flex:1;
      background-color: rgb(240, 240, 241);
      height: inherit;
      padding: 0 16px; 
      display: flex;
      align-items: center;
      border-radius: var(--border-radius-min);
      
      img{
        height: 24px;
        width: 24px;
      }

      input[type="text"]{
        width: 512px;
        padding: 0 16px;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        height: 20.031px;
        &::placeholder{
          font-family: iranYekan;
          font-size: 12px;
        }
        &:focus{
          outline: none;
          
        }
      }
    }
    
  }


  .register__left-section{
    /* background-color: red; */
    height: 44px;
    width: 125px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .register__left-section__right-section{
      width: 52px;
      height: inherit;
      display: inherit;
      flex-flow: inherit;
      align-items: inherit;
      /* background-color: chartreuse; */
      padding-top: 6px;
      .downArrow{
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          margin-top: -10px;
          width: 20px !important;
          height: 20px !important;
          
        }
      }
    }
    .gray-col{
      width: 1px;
      margin: 0 12px;
      height: 24px;
      background-color: gray;
      display: inherit;
      flex-flow: inherit;
      align-items: inherit;
    }
    .register__left-section__left-section{
      width: 32px;
      height: 32px;
      display: inherit;
      flex-flow: inherit;
      align-items: inherit;
      justify-content: center;
      /* background-color: cyan; */
      .basketSvg{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -6px;
      }
    }

  }
  
}
/*Register Ends*/

/* Nav starts */
nav{
  border-bottom: 1px solid gray;
  width: 1641px;
  height: 40px;
  /* background-color: yellow; */
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .nav__right-section{
    width: 948px;
    height: inherit;
    /* background-color: aqua; */
    display: flex;
    flex-flow: row wrap;
    .nav-main-menu{
      /* background-color: orage; */
      height: inherit;
      width: fit-content;
      display: flex;
      padding-left: 14px;
      align-items: center;
      position: relative;
      &:hover .nav-main-menu__dropdown {
        display: block;
      }
      .wholePageCover{
        position: fixed;
        z-index: 99;
        display: none;
        background-color: black;
        opacity: 0.4;
        top:168px;
        left: 0;
        width: 100vw;
        height: 100vh;
      }
      &:hover .wholePageCover{
        display: block;
        pointer-events: none;
      }
      .nav-main-menu__dropdown{
        /* background-color: green; */
       
        height: 80vh;
        width: 80vw;
        position: absolute;
        top: 40px;
        right: 0;
        z-index: 100;
        display: none;
        /* display: block; */
        
        ::-webkit-scrollbar{
          width: 15px;
          background-color: rgb(238, 238, 238);
        }
        ::-webkit-scrollbar-thumb{
          background-color: rgb(185, 185, 185);
        }
        
        
        .nav-main-menu__dropdown__right-section{
          width: 15%;
          height: inherit;
          /* background-colrgb(43, 43, 43)b2b; */
          /* opacity: 0.5; */
          overflow: auto;
          direction: ltr;
          background-color: rgb(245, 245, 245);
          .dropdown__right-section__item{
            width: 100%;
            height: 52px;
            /* background-color: white ; */
            /* box-shadow: 0 1px 1px #2b2b2b; */
            
            text-align:right ;
            margin-bottom: 2px;
            &:hover{
              background-color: lightgray;
            }
            &:hover .dropdown__right-section__item__dropdown{
              display: flex;
            }
          
            .dropdown__right-section__link{
              display: flex ;padding-right: 10px;
              flex-flow: row wrap;
              align-items: center;
              justify-content: flex-end;
              text-decoration: none;
              font-size: 12px;
              line-height: 52px;
              color: black;
              /* color: rgb(239, 57, 78); */
              width: 100%;
              /* box-shadow: 0 4px 4px #2b2b2b; */
              column-gap: 8px;
              .icon-container{
          
                display: flex;
                align-items: center;
                justify-content: center;

                i{
                  height: 18px;
                  width: 18px;
                  font-size: 18px;
                }
              }
            &:hover {
              color: rgb(239, 57, 78);
              background-color: white;
              /* fill: red; */
              transition: 300ms;
            }
            }
            .dropdown__right-section__item__dropdown{
              width: 85%;
              height: 100%;
              /* background-color: rgb(4, 0, 255); */
              position: absolute;
              left: 0;
              top: 0;
              /* display: flex; */
              display: none;
              flex-flow: column wrap;
              background-color: white;
              overflow: auto;
              ::-webkit-scrollbar{
                width: 15px;
                background-color: rgb(192, 194, 197);
              }
              ::-webkit-scrollbar-thumb{
                background-color: rgb(240, 240, 241);;
              }
              .dropdown__right-section__item__dropdown__top-section{
                width: 100%;
                height: 8%;
                /* background-color: orange; */
                padding-right: 10px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                
                a{
                  text-decoration: none;
                  font-size: 13px;
                  color:  rgb(0, 142, 178);
                  direction: rtl;
                  display: flex;
                  align-items: center;
                  column-gap: 7px;
                  font-weight:575;
                  i{
                    margin-top: 3px;
                  }
                }
              }
              /* .right-section__item__dropdown__item{
                width: 24%;
                height: 90%;
                background-color: aqua;
              } */
              .dropdown__right-section__item__dropdown__bottom-section{
                width: 100%;
                height: 92%;
                /* background-color: chartreuse; */
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                .right-section__item__dropdown__item{
                  width:24% ;
                  height: 100%;
                  /* background-color: aqua; */
                 .AfterBefore-container{
                  width: 100%;
                  /* background-color: rgb(51, 255, 0); */
                  margin-bottom: 25px;
                  padding-right: 5px;
                  .AfterBefore{
                    font-size:14px;
                    position: relative;
                    text-decoration: none;
                    color: black;
                    /* margin-right: 5px; */
                    
                    &::before{
                      content: '\003C';
                      color: black;
                      font-size: 16px;
                      font-weight: 700;
                      position: absolute;
                      top: 0 ;
                      left: -16px;
                    }
                    &::after{
                      content: '\007C';
                      color: rgb(255, 0, 0);
                      font-size: 16px;
                      position: absolute;
                      top: 0 ;
                      right: -6px;
                      height: inherit;
                      background-color: red;
                    }
                    &:hover::before{
                      color: red;
                      font-weight: 700;
                    }
                    &:hover{
                      color: red;
                      
                    }
                  }
                 }
                 .regularA-container{
                  /* background-color: aqua; */
                  margin-bottom: 10px;
                  .regular__a{
                    color: rgb(129, 133, 139);
                    text-decoration: none;
                    font-size: 13px;
                    direction: ltr;
                     &:hover{
                    color: red;
                   }
                   }
                 }
                 
                }
              }
            }
            .active{
              display: flex;
            }
          
          }
        }
        
      }
      
      .nav-main-menu__link{
        color:black;
        text-decoration: none;
        text-align: center;
        font-size: 14px;
      }
      &:hover{
        border-bottom: 1px solid red;
      }
      img{
        width: 20px;
        height: 20px;
        margin-left: 5px;
        margin-right: -7px;
      }
      p{
        font-weight:700;
        font-size: 14px;
      }
    }
      .horiz-col{
        display: flex;
        align-items: center;
        justify-content: center;
        .horizline{
        width: 1px;
        height: 19px;
        background-color: gray;
        }
      }
      .nav-item{
        height: inherit;
        width: fit-content;
        display: flex;
        /* background-color: red; */
        align-items: center;
        justify-content: center;
        border-bottom: none;
        transition: 400ms;
        padding: 0 12px;
        font-size: 12px;
        font-weight: 400;
        color: rgb(98, 102, 109);
        &:hover{
          border-bottom: 1px solid red;
        }
        img{
          width: 18px;
          height: 18px;
        }
      }
      .nav-guide{
        height: inherit;
        width: fit-content;
        display: flex;
        /* background-color: red; */
        align-items: center;
        justify-content: center;
        border-bottom: none;
        transition: 400ms;
        padding: 0 12px;
        font-size: 12px;
        color: rgb(98, 102, 109);
        &:hover{
          border-bottom: 1px solid red;
        }
      }
  }
  .nav__left-section{
    width: 135px;
    height: inherit;
    /* background-color: green; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    img{
      width: 20px;
      height: 20px;
      margin-top: -6px;
    }
    p{
      font-weight: 400;
      font-size: 12px;
      color: rgb(98, 102, 109);
    }
  }
}
/* Nav end */
}

